body{
    font-family: cursive;
    margin: 0;
    color: #FFEBD0 ;
    background-color: #1D503A;
}

.favicon {
    display: flex;
    padding: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    background: #FFEBD0;
    align-items: center;
    padding: 30px;
    position: relative;
    box-shadow: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 80px;
    margin-right: 120px;
}

nav li a {
    text-decoration: none;
    color: #FEF1E1;
    background-color: #1D503A;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

a:hover {
    color: #1D503A;
    background-color: #FEF1E1;
}


.btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    color: #1D503A;
    background-color: #FEF1E1;
    border: none;
}

.btn:hover {
    background-color: /*#990000*/ #1D503A;
    color: #FEF1E1;
}

#btn-1 {
    border-style: double;
}

#btn-2 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.image-grid {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    padding: 5px;
    gap: 1px;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.image-grid img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.image-grid img:nth-child(1) {
    width: 250px;
    height: 300px;
}

.image-grid img:nth-child(2) {
    width: 200px;
    height: 250px;
}

.image-grid img:nth-child(3) {
    width: 250px;
    height: 300px;
}

.image-grid img:nth-child(4) {
    width: 200px;
    height: 250px;
}

.image-grid img:nth-child(5) {
    width: 250px;
    height: 300px;
}

#menu {
    text-align: center;
}


#menu table {
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
}

#menu .btn {
    margin: 20px 30px;
}

.reviews {
    background-color: #FEF1E1;
    color: #131010;
    padding: 4rem;
    border-radius: 1rem
}

.reviews-1 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer a {
    color: black;
}

#About {
    display: flex;
    justify-content: space-between;
    margin: 3rem 1rem 0 1rem;
}